.box {
    margin: 40px auto;
    width: 1200px;
    height: 800px;
}

.container {
    border: 2px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 0.05;
}

.component {
    flex-grow: 0.95;
}