textarea {
    resize: none;
}

form {
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 10px;
}

p {
    margin: 5px auto 0 5px;
}