<div>
  <h2>Nouveau message :</h2>
  <div>
    <form [formGroup]="messageForm">
      <label for="user">Pseudo :</label>
      <input type="text" id="user" formControlName="user" required />
      <!-- <div *ngIf="
        messageForm.controls['user'].invalid &&
        (messageForm.touched || messageForm.dirty)
      " class="alert">
        Le pseudo est obligatoire
      </div> -->
      <label for="message">Message : </label>
      <textarea name="message" id="message" formControlName="message" cols="50" rows="6"
        placeholder="Type your message here" required></textarea>
      <!-- <div *ngIf="
        messageForm.controls['user'].invalid &&
        (messageForm.touched || messageForm.dirty)
      " class="alert">
        Le message est obligatoire
      </div> -->
      <div class="buttons">
        <p>[Error will be placed here]</p>
        <button type="button" (click)="onSubmit()" [disabled]="!messageForm.valid">
          Valider
        </button>
        <button type="reset">Annuler</button>
      </div>
    </form>
  </div>
</div>