.app {
    display: flex;
    height: 100%;
}

.users-list {
    flex-grow: 0.4;
    border-right: 2px solid black;
}

.users-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 660px;
    overflow: scroll;
}

.messages {
    flex-grow: 0.6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.message-list {
    border-bottom: 2px solid black;
}

.message-form {
    height: 255px;
}

.message-items {
    height: 400px;
    overflow: scroll;
    scroll-behavior: auto;
}